.DS_Store
src/gulp/node_modules/Documental/doc-app/data/
src/gulp/node_modules/Documental/doc-app/design/
!src/gulp/node_modules/Documental/index.js
!src/gulp/node_modules/Documental/package.json
src/gulp/node_modules/Documental/node_modules/
!src/gulp/node_modules/Documental/doc-app/
src/gulp/repo-shadow/
src/gulp/node_modules/Documental/doc-app/dist/
src/gulp/node_modules/gulp/
src/gulp/node_modules/gulp-print/
src/gulp/node_modules/jsdoc/
src/gulp/test-projects/
src/gulp/node_modules/.bin/
src/app/data/
src/app/dist/
src/app/design/
src/app/node_modules/
src/gulp/node_modules/documental/npm-debug.log
