.DS_Store

src/gulp/node_modules/*
!src/gulp/node_modules/documental/index.js
!src/gulp/node_modules/documental/package.json
!src/gulp/node_modules/documental/README.md
!src/gulp/node_modules/documental/src
!src/gulp/node_modules/documental/src/core



src/gulp/test-projects/
src/app/data/
src/app/dist/
src/app/design/
src/app/node_modules/

