<div id="contentholder">
    <div class="ui equal width grid">
        <div class="row">
            <div class="column">
                <h1 class="ui header">
                    <div class="content">
                        {{docstructure.title}}

                        <a class="ui olive label constructorTag" ng-if="( docstructure.Documentation.tags | filter:{ title: 'constructor' } ).length > 0">
                            Constructor
                        </a>

                        <div class="sub header">{{docstructure.path}}</div>
                    </div>
                </h1>
            </div>
            <div class="ui vertical divider">
                <i class="long arrow right icon"></i>
            </div>
            <div class="left aligned column" ng-if="( docstructure.Documentation.tags | filter:{ title: 'returns' } )[0]">

                <p ng-if="( docstructure.Documentation.tags | filter:{ title: 'returns' } )[0]">
                    {{parseType( ( docstructure.Documentation.tags | filter:{ title: 'returns' } )[0].type )}}
                </p>
                <h5 style="margin-top: -9px;" ng-if="( docstructure.Documentation.tags | filter:{ title: 'returns' } )[0]">
                    {{( docstructure.Documentation.tags | filter:{ title: 'returns' } )[0].description }}
                </h5>

            </div>
        </div>

        <div class="sixteen wide column">
            <pre id="apidesc"> {{docstructure.Documentation.description}} </pre>
        </div>

        <div class="row" ng-if="( docstructure.Documentation.tags | filter:{ title: 'param' } ).length > 0">
            <h3 class="ui dividing header" style="width: 100%;">Parameters<a class="anchor" id="content"></a></h3>
            <div class="sixteen wide column">
                <div class="ui basic segment">
                    <table class="ui very basic table" id="paramsTable">
                        <thead>
                        <tr>
                            <th></th>
                            <th>Type</th>
                            <th>Description</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="param in docstructure.Documentation.tags | filter:{ title: 'param' } ">
                            <td>{{param.name}}</td>
                            <td>{{parseType( param.type )}}</td>
                            <td>{{param.description}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="row" ng-if="( docstructure.Documentation.tags | filter:{ title: 'property' } ).length > 0">
            <h3 class="ui dividing header" style="width: 100%;">Properties<a class="anchor" id="content"></a></h3>
            <div class="sixteen wide column">
                <div class="ui basic segment">
                    <table class="ui very basic table" id="propertiesTable">
                        <thead>
                        <tr>
                            <th></th>
                            <th>Type</th>
                            <th>Description</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="param in docstructure.Documentation.tags | filter:{ title: 'property' } ">
                            <td>{{param.name}}</td>
                            <td>{{parseType( param.type )}}</td>
                            <td>{{param.description}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>


        <div class="row">
            <h3 class="ui dividing header" style="width: 100%;">Source<a class="anchor" id="content"></a></h3>
            <div class="column">
                <div class="ui basic segment">
                    <pre><code class="language-javascript"></code></pre>
                </div>
            </div>
        </div>
    </div>
</div>