#sidebarlist{
    float:left;

}

#navlogo
{
    -webkit-filter: invert(75%);
    background-image: url("../img/doclogo.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 130px;
    background-position: center;
    margin-left: 10px;
}

#navnpm
{
    background-image: url("https://badge.fury.io/js/documental.svg");
    background-repeat: no-repeat;
    background-size: contain;
    width: 130px;
    background-position: center;
}
#navgit
{
    background-image: url("https://img.shields.io/badge/source-github-blue.svg");
    background-repeat: no-repeat;
    background-size: contain;
    width: 95px;
    background-position: center;
}

.easytree-container {
    background-color: transparent;
    border: none !important;
    color: #fff;
}

#homepagecontainer{
    height: 100%;
    overflow-y: scroll;
}

.easytree-active .easytree-title {
 font-weight: bold;
    background-color: transparent !important;
}

.easytree-title {
    color: #000 !important;
}

.easytree-expander {

}

#paramsTable tbody:empty {
    display: none;
}

#propertiesTable tbody:empty {
    display: none;
}



doc-view code {
    font-size: 10px;
}

#apidesc{
    margin-top: 10px;
}

#contentholder > .grid
{
    margin-left: 10px;
}

.ui.sidebar{
    overflow: hidden !important;
    background-image: url("../img/stripe.png");
    background-repeat: no-repeat;
}

#sidebar
{
    display: block !important;
    position: static;
    height: 100%;
    margin-top: 65px;
    padding-top: 10px;
    padding-left: 15px;

}

.search > .input
{
    width: 80% !important;
}

.searchboxholder
{
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    position:absolute;
    background-color: #344052;
}

.searchboxholder:first-child{
    display: inline-block;
}

#navmenu{
    margin-bottom: 0px !important;

}

html, body{
    margin:0px;
    height: 100%;

}

div[ng-view]{
    height: 100vh;
    overflow: hidden;
}

html{
    overflow: hidden;
}

#content{
    width: 50%;

}

#sidebarlist li{
    margin-bottom: 5px;
    margin-top: 5px;
    font-size: 15px;
}

.pusher
{
    padding: 30px;
    padding-bottom: 0px;
    max-width: calc( 100% - 350px );
    height: calc( 100% - 42px );
    overflow-y: scroll;

}

doc-view{
    overflow-y: scroll;
}

.ui.piled.segment{
    max-width: 90% !important;
}


.content_box
{
    float: left;
    width: 70%;
}

#contentholder{

    overflow-y: scroll;
    overflow-x: hidden;

}

#contentholder pre{

    height: 100%;

}

.ui.menu {
    margin-top: 0px !important;
    border-radius: 0px !important;
    background-color: #fff !important;
    height: 65px !important;
}

li[data-path] span.easytree-icon{
    display: none;
}


